table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
tr.selectedRow {background: #F5DEB3}
#selected {background: #F5DEB3}
